@{
    ViewData["Title"] = "Вход";
    Layout = "_Layout";
}
<div class="login">
    <form>
        <label>Логин</label>
        <input type="text" id="login" />
        <label>Пароль</label>
        <input type="password" id="password" maxlength="20" />
    </form>
</div>