@{
    ViewData["Title"] = "Вход";
    Layout = "_Layout";
}
<div class="login">
    <div class="login-form">
        <form>
            <input type="text" id="login" />
            <input type="password" id="password" maxlength="20" />
        </form>
    </div>
</div>