<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true"/>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <button id="nav-feed-button" data-link="feed">
                            <p>Лента</p>
                        </button>
                    </li>
                    <li>
                        <button id="nav-feed-button" data-link="rooms">
                            <p>Комнаты</p>
                        </button>
                    </li>
                @if (User.IsInRole("Inspector") || User.IsInRole("Admin") || User.IsInRole("Administration"))
                {
                    <li>
                        <button id="nav-scan-button" data-link="inspection">
                            <p>Проверить комнату</p>
                        </button>
                    </li>
                }
                @if (User.IsInRole("Administration") || User.IsInRole("Admin"))
                {
                    <li>
                        <button id="nav-admin-button" data-link="administration">
                            <p>Администрирование</p>
                        </button>
                    </li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li>
                        <button id="nav-import-button" data-link="import">
                            <p>Импорт данных</p>
                        </button>
                    </li>
                }
                </ul>
            </nav>
        </header>        
        <main>
            @RenderBody()
        </main>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/site.js"></script>
        @RenderSection("Scripts", false)
    </body>
</html>