@model OkeiDormitory.Models.ViewModels.AdministrationViewModel;
@{
    ViewData["Title"] = "Администрирование";
    Layout = "_Layout";
}

<div class="user-list">
    @foreach (var user in Model.Users)
    {
        @Html.DisplayFor(u => user)
        ;
    }
</div>