@{
    ViewData["Title"] = "Импорт данных";
    Layout = "_Layout";
}

<div class="import">
    <div class="import-header">Импорт пользователей</div>
    <form>
        <input type="file" name="file" required/>
        <button type="submit">Отправить</button>
    </form>
</div>

@section Scripts {
    <script src="~/js/import.js"></script>
}